html, body {
	padding: 0%;
	margin: 0%;
	height: 600px;
}
body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: aqua;
}
img{
	width: 200px;
	height: 200px;
	border-radius: 100%;
}
p{
	font-size: italic;
	font-family: verdana;
}
header{
	text-align: center;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
footer{
	position: fixed;
	bottom:0px;
}
@media(max-width: 800px){
	body{
		background: olive;
	}
}
@media(max-width:600px){
	body{
		background: lightblue;

	}
}



}